body
{
	padding-top: 100px;
}

header h1
{
	text-align: center;
}

nav
{
	float:left;
}

nav>div>div>ul>li a
{
	text-decoration: none;
	color: gray;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
}


article
{
	float:right;
}

footer p 
{
	text-align: center;
	font-style: italic;
}

.clearfix
{
	clear:both;
}